<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.mapper.anime.AnimeMapper">

    <!--发布动漫-->
    <insert id="publishAnime" parameterType="com.love.pojo.Anime">
        insert into anime(title, description, cover_image, release_date, status,user_id, created_at, updated_at)
        values (#{title}, #{description}, #{coverImage}, #{releaseDate}, #{status},#{userId}, now(), now())
    </insert>
    <!--获取动漫集数-->
    <update id="episode">
        select e.episode_number
        from anime a
                 left join
             anime_episode e on e.anime_id = a.anime_id
        where a.anime_id = #{animeId}
    </update>
    <select id="findById" resultType="com.love.pojo.Anime">
        select a.anime_id,
               a.title,
               a.description,
               a.cover_image,
               a.release_date,
               a.status,
               e.episode_id,
               e.episode_title,
               e.air_date,
               e.duration,
               e.episode_number,
               e.episode_image
        from anime a
                 left join
             anime_episode e on e.anime_id = a.anime_id
        where a.anime_id = #{id}
    </select>
    <select id="list" resultType="com.love.pojo.Anime">
            select a.anime_id,a.title,a.cover_image,a.status,u.nickname,u.user_pic
            from anime a
            left join user u on a.user_id = u.id
    </select>

</mapper>